basePath: '{{.BasePath}}'
definitions:
  common.Response:
    properties:
      code:
        type: integer
      data:
        type: object
      msg:
        type: string
    type: object
  reportService.ReportStruct:
    properties:
      activity_id:
        type: integer
      name:
        minLength: 1
        type: string
      phone:
        minLength: 4
        type: string
    required:
    - name
    - phone
    type: object
  userService.AuthStruct:
    properties:
      password:
        minLength: 4
        type: string
      user_name:
        minLength: 1
        type: string
    required:
    - password
    - user_name
    type: object
  userService.ChangePasswordStruct:
    properties:
      new_password:
        minLength: 6
        type: string
      old_password:
        minLength: 4
        type: string
    required:
    - new_password
    - old_password
    type: object
host: '{{.Host}}'
info:
  contact: {}
  description: An example of gin
  license:
    name: MIT
    url: https://github.com/fanhengyuan/gin-test/blob/master/LICENSE
  termsOfService: https://github.com/fanhengyuan/gin-test
  title: Gin Web Test
  version: "1.0"
paths:
  /login:
    post:
      consumes:
      - application/json
      description: 用户登录
      parameters:
      - description: user login
        in: body
        name: payload
        required: true
        schema:
          $ref: '#/definitions/userService.AuthStruct'
          type: object
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
            type: object
      summary: User Login
      tags:
      - Auth
  /report:
    post:
      consumes:
      - application/json
      description: User Report Information
      parameters:
      - description: 上报信息
        in: body
        name: payload
        required: true
        schema:
          $ref: '#/definitions/reportService.ReportStruct'
          type: object
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
            type: object
      summary: Report Information
      tags:
      - Report
  /sys/router:
    get:
      consumes:
      - application/json
      description: get router list
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
            type: object
      security:
      - ApiKeyAuth: []
      summary: 后端存在路由列表
      tags:
      - SYS
  /test/font:
    get:
      parameters:
      - description: base64 string
        in: query
        name: base64
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
            type: object
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/common.Response'
            type: object
      security:
      - ApiKeyAuth: []
      summary: Base64 Decode
      tags:
      - Test
  /test/ping:
    get:
      consumes:
      - application/json
      description: Test Ping
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
            type: object
      security:
      - ApiKeyAuth: []
      summary: Ping
      tags:
      - Test
  /user:
    get:
      consumes:
      - application/json
      description: 获取用户列表
      parameters:
      - description: page number
        in: query
        name: p
        required: true
        type: integer
      - description: page limit
        in: query
        name: "n"
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
            type: object
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/common.Response'
            type: object
      security:
      - ApiKeyAuth: []
      summary: 用户列表
      tags:
      - User
  /user/change_password:
    put:
      consumes:
      - application/json
      description: 密码修改
      parameters:
      - description: user change password
        in: body
        name: payload
        required: true
        schema:
          $ref: '#/definitions/userService.ChangePasswordStruct'
          type: object
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
            type: object
      summary: 修改密码
      tags:
      - User
  /user/logged_in:
    get:
      consumes:
      - application/json
      description: 当前登录用户信息
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
            type: object
      summary: 当前登录用户信息
      tags:
      - User
  /user/logout:
    put:
      consumes:
      - application/json
      description: 用户登出
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
            type: object
      summary: User Logout
      tags:
      - User
securityDefinitions:
  ApiKeyAuth:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
